In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
#Importando os datasets diretamente do Google Drive

import pandas as pd

df_products = pd.read_csv('/content/drive/MyDrive/Data Expert/Day 7/DNC_products_dataset.csv')
df_orders = pd.read_csv('/content/drive/MyDrive/Data Expert/Day 7/DNC_orders_dataset.csv')
df_reviews = pd.read_csv('/content/drive/MyDrive/Data Expert/Day 7/DNC_order_reviews_dataset.csv')
df_items = pd.read_csv('/content/drive/MyDrive/Data Expert/Day 7/DNC_order_items_dataset.csv')

In [12]:
df_items.head()

   Unnamed: 0  ...   price
0           0  ...   58.90
1           1  ...  239.90
2           2  ...  199.00
3           3  ...   12.99
4           4  ...  199.90

[5 rows x 5 columns]

In [13]:
df_orders.head()

   Unnamed: 0  ... order_status
0           0  ...    delivered
1           1  ...    delivered
2           2  ...    delivered
3           3  ...    delivered
4           4  ...    delivered

[5 rows x 4 columns]

In [18]:
df_products.head()

                         product_id  ... product_width_cm
0  1e9e8ef04dbcff4541ed26657ea517e5  ...             14.0
1  3aa071139cb16b67ca9e5dea641aaa2f  ...             20.0
2  96bd76ec8810374ed1b65e291975717f  ...             15.0
3  cef67bcfe19066a932b7673e239eb23d  ...             26.0
4  9dc1a7de274444849c219cff195d0b71  ...             13.0

[5 rows x 8 columns]

In [20]:
df_reviews.head()

                          review_id  ... review_score
0  7bc2406110b926393aa56f80a40eba40  ...            4
1  80e641a11e56f04c1ad469d5645fdfde  ...            5
2  228ce5500dc1d8e020d8d1322874b6f0  ...            5
3  e64fb393e7b32834bb789ff8bb30750e  ...            5
4  f7c4243c7fe1938f181bec41a392bdeb  ...            5

[5 rows x 3 columns]

In [25]:
#Verificando a exist√™ncia de valores nulos

df_products.isnull().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [34]:
#Verificando a quantidade de linhas totais do df para entender a representatividade dos valores nulos

df_products.shape

(32951, 8)

In [35]:
#Como os nulos representam apenas 1,8% dos dados totais, optou-se por remov√™-los do dataset

df_products.dropna(axis=0, inplace=True)

In [36]:
#Validando a modifica√ß√£o

df_products.isnull().sum()

product_id                    0
product_category_name         0
product_name_lenght           0
product_description_lenght    0
product_weight_g              0
product_length_cm             0
product_height_cm             0
product_width_cm              0
dtype: int64

In [26]:
#Verificando a exist√™ncia de valores nulos

df_orders.isnull().sum()

order_id        0
customer_id     0
order_status    0
dtype: int64

In [27]:
#Verificando a exist√™ncia de valores nulos

df_items.isnull().sum()

order_id         0
order_item_id    0
product_id       0
price            0
dtype: int64

In [28]:
#Verificando a exist√™ncia de valores nulos

df_reviews.isnull().sum()

review_id       0
order_id        0
review_score    0
dtype: int64

In [17]:
#Retirando as colunas desnecess√°rias

df_products.drop('Unnamed: 0', axis=1, inplace=True)
df_orders.drop('Unnamed: 0', axis=1, inplace=True)
df_reviews.drop('Unnamed: 0', axis=1, inplace=True)
df_items.drop('Unnamed: 0', axis=1, inplace=True)

In [40]:
#Unificando os dataframes em um s√≥

df1 = pd.merge(df_reviews, df_orders, on='order_id', how='left')
df1.head()

                          review_id  ... order_status
0  7bc2406110b926393aa56f80a40eba40  ...    delivered
1  80e641a11e56f04c1ad469d5645fdfde  ...    delivered
2  228ce5500dc1d8e020d8d1322874b6f0  ...    delivered
3  e64fb393e7b32834bb789ff8bb30750e  ...    delivered
4  f7c4243c7fe1938f181bec41a392bdeb  ...    delivered

[5 rows x 5 columns]

In [41]:
df2 = pd.merge(df1, df_items, on='order_id', how='left')
df2.head()

                          review_id  ...   price
0  7bc2406110b926393aa56f80a40eba40  ...  185.00
1  7bc2406110b926393aa56f80a40eba40  ...  185.00
2  80e641a11e56f04c1ad469d5645fdfde  ...   79.79
3  228ce5500dc1d8e020d8d1322874b6f0  ...  149.00
4  e64fb393e7b32834bb789ff8bb30750e  ...  179.99

[5 rows x 8 columns]

In [43]:
df = pd.merge(df2,df_products, on='product_id', how='left')
df.head()

                          review_id  ... product_width_cm
0  7bc2406110b926393aa56f80a40eba40  ...             35.0
1  7bc2406110b926393aa56f80a40eba40  ...             35.0
2  80e641a11e56f04c1ad469d5645fdfde  ...             14.0
3  228ce5500dc1d8e020d8d1322874b6f0  ...             20.0
4  e64fb393e7b32834bb789ff8bb30750e  ...             20.0

[5 rows x 15 columns]

In [44]:
df.shape

(113131, 15)

In [45]:
df.describe()

        review_score  order_item_id  ...  product_height_cm  product_width_cm
count  113131.000000  112372.000000  ...      110773.000000     110773.000000
mean        4.016998       1.196010  ...          16.609147         23.046491
std         1.400074       0.691243  ...          13.461482         11.716425
min         1.000000       1.000000  ...           2.000000          6.000000
25%         4.000000       1.000000  ...           8.000000         15.000000
50%         5.000000       1.000000  ...          13.000000         20.000000
75%         5.000000       1.000000  ...          20.000000         30.000000
max         5.000000      21.000000  ...         105.000000        118.000000

[8 rows x 9 columns]

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113131 entries, 0 to 113130
Data columns (total 15 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   review_id                   113131 non-null  object
 1   order_id                    113131 non-null  object
 2   review_score                113131 non-null  int64
 3   customer_id                 113131 non-null  object
 4   order_status                113131 non-null  object
 5   order_item_id               112372 non-null  float64
 6   product_id                  112372 non-null  object
 7   price                       112372 non-null  float64
 8   product_category_name       110773 non-null  object
 9   product_name_lenght         110773 non-null  float64
 10  product_description_lenght  110773 non-null  float64
 11  product_weight_g            110773 non-null  float64
 12  product_length_cm           110773 non-null  float64
 13  product_height_cm           110773 non-null  float64
 14  product_width_cm            110773 non-null  float64
dtypes: float64(8), int64(1), object(6)
memory usage: 13.8+ MB

In [48]:
#Removendo as linhas nulas

df.dropna(axis=0,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110773 entries, 0 to 113130
Data columns (total 15 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   review_id                   110773 non-null  object
 1   order_id                    110773 non-null  object
 2   review_score                110773 non-null  int64
 3   customer_id                 110773 non-null  object
 4   order_status                110773 non-null  object
 5   order_item_id               110773 non-null  float64
 6   product_id                  110773 non-null  object
 7   price                       110773 non-null  float64
 8   product_category_name       110773 non-null  object
 9   product_name_lenght         110773 non-null  float64
 10  product_description_lenght  110773 non-null  float64
 11  product_weight_g            110773 non-null  float64
 12  product_length_cm           110773 non-null  float64
 13  product_height_cm           110773 non-null  float64
 14  product_width_cm            110773 non-null  float64
dtypes: float64(8), int64(1), object(6)
memory usage: 13.5+ MB

In [54]:
from collections import Counter

In [57]:
#Contando quantos itens tem no dataset

item_count = Counter(df.index)
n = 1000

In [58]:
#Separando os itens mais comuns 

items = [u for u, c in item_count.most_common(n)]

In [60]:
#Criando um novo df com os itens mais comuns

df_small = df[df.index.isin(items)].copy()

In [62]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity


def get_data(path):
  return pd.read_csv(path)


def start_pipeline(dataf):
  return dataf.copy()


def get_book_counts(dataf):
  return dataf.groupby(by='ISBN', as_index=False) \
    .agg({'User-ID': pd.Series.nunique}) \
    .rename(columns={'User-ID': 'User-ID_count'}) \
    .set_index('ISBN') \
    .sort_values('User-ID_count', ascending = False)


def get_n_top_values(dataf, n):
  return dataf.head(n) \
    .index \
    .tolist()


def format_sample(dataf):
  return pd.DataFrame({
      "user": dataf["User-ID"],
      "book": dataf["ISBN"],
      "action": dataf["Book-Rating"]
  })


def get_top_books_ids(dataf, sample_size=1000):
  return dataf \
    .pipe(start_pipeline) \
    .pipe(get_book_counts) \
    .pipe(get_n_top_values, sample_size)


def get_item_based_similarity_matrix(data):
  top_book_ids = get_top_books_ids(data)
  book_sampled_relationship_data = data[data.index.isin(top_book_ids)] \
    .pipe(format_sample) \
    .pivot_table(index="user", columns="book", values="action").fillna(0)
  return cosine_similarity(book_sampled_relationship_data.T), book_sampled_relationship_data.T.index

In [64]:
import random

import numpy as np

class ItemBasedRecommender:

  def __init__(self, data_path):
    self.data_path = data_path

  def setup(self):
    data = get_data(self.data_path)
    sim_matrix, available_items_index = get_item_based_similarity_matrix(data)
    self.available_items_index = available_items_index
    self.sim_matrix = sim_matrix

  def get_random_item_index(self):
    item_id = self.available_items_index[random.randint(0, self.sim_matrix.shape[0])]
    return item_id

  def get_n_closest(self, item_id, n=10):
    if item_id not in self.available_items_index:
      raise ValueError('Item is not available on data.')
    item_index = self.available_items_index.tolist().index(item_id)
    closest_n_iten = np.argsort(-self.sim_matrix[item_index])[1:n]
    n_closest = []
    for item_data in zip(self.available_items_index[closest_n_iten], self.sim_matrix[item_index][closest_n_iten]):
      n_closest.append(item_data)
    return tuple(n_closest)